name: kubernetes
version: 0.1.0
description: "Apply Kubernetes Manifest"
dockerfile: cnab/app/Dockerfile.base
invocationImage: cnabquickstartstest.azurecr.io/porter/kubernetes

credentials:
- name: kube_config
  env: K8SCONFIG
  description: Base64 encoded Kube config for Kubernetes Mixin

parameters:
- name: manifest
  type: string
  default: ""
  description: Http URL to manifest to apply to the cluster
  destination:
    env: KUBE_MANIFEST

- name: arg0
  type: string
  description: Argument to merge into the manifest
  destination:
    env: MANIFEST_ARG0

mixins:
  - exec
  - kubernetes

install:

  - exec: 
      description: "Decode Kubeconfig"
      command: "bash"
      arguments: 
        - "-c" 
        - "mkdir -p /root/.kube;echo ${K8SCONFIG}|base64 -d > /root/.kube/config"
  - exec: 
      description: "Download Manifest"
      command: "bash"
      arguments: 
        - "-c" 
        - "mkdir -p ${STATE_PATH}/manifests/;curl ${KUBE_MANIFEST} -fLo ${STATE_PATH}/manifests/manifest.yaml;envsubst ${STATE_PATH}/manifests/manifest.yaml > /tmp/manifest.yaml"
  - kubernetes:
      description: "Apply Manifest"
      manifests:
        - /tmp/manifest.yaml
      wait: true 

upgrade:

  - exec: 
      description: "Decode Kubeconfig"
      command: "bash"
      arguments: 
        - "-c" 
        - "mkdir -p /root/.kube;echo ${K8SCONFIG}|base64 -d > /root/.kube/config"
  - exec: 
      description: "Download Manifest"
      command: "bash"
      arguments: 
        - "-c" 
        - "curl ${KUBE_MANIFEST} -fLo ${STATE_PATH}/manifests/manifest.yaml;envsubst ${STATE_PATH}/manifests/manifest.yaml > /tmp/manifest.yaml"
  - kubernetes:
      description: "Apply Manifest"
      manifests:
         - /tmp/manifest.yaml
      wait: true 

uninstall:

  - exec: 
      description: "Decode Kubeconfig"
      command: "bash"
      arguments: 
        - "-c" 
        - "mkdir -p /root/.kube;echo ${K8SCONFIG}|base64 -d > /root/.kube/config"
  - exec: 
      description: "Copy Manifest"
      command: "bash"
      arguments: 
        - "-c" 
        - "cp ${STATE_PATH}/manifests/manifest.yaml /tmp/manifest.yaml"
  - kubernetes:
      description: "Apply Manifest"
      manifests:
        -  /tmp/manifest.yaml
      wait: true 